{% extends "mobile/mobile_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block page_title %}<span class="float-left"><img src="{{ asset('extended/photo/creative-commons-icon.png') }}" width="25" class="mr-2" alt="Law"/></span>{{ entity.title }}{% endblock %}

{% block meta_plus %}
{% endblock %}

{% block body_content %}
	<div class="read-content">
		{{ entity.text|raw }}
	</div>
{% endblock %}