<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/jquery.dataTables.css') }}" type="text/css" media="screen" />
<script>
	$(function()
	{
		$("a.file_link").click(function()
		{
			parent.$("input.media_video").val("");
			parent.$("input.existing_video_colorbox").val($(this).text());
			$('.selectVideoFileModal').modal('hide');
			return false;
		});

		$('table.index_admin').dataTable({
			"bFilter": false,
			"bInfo": false,
			"bPaginate": false,
		});
	}); 
</script>

<table class="table table-striped table-bordered index_admin">
	<thead>
		<tr>
			<th>{{ "video.admin.File"|trans([], "validators") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for file in filesArray %}
			<tr>
				<td><a href="" alt="file" class="file_link">{{ file }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>