<div class="card main_column_section mt-3" id="comment_doc">
	<div class="card-header">
		<h2><span class="float-start"><img src="{{ asset('extended/photo/ballon-comment-icon.png') }}" width="25" class="mt-1" alt="Comments"/></span>{{ "comment.index.Comment"|trans([], "validators") }}</h2>
	</div>
	<div class="card-body">
		<div id="comment_container">
			<div id="tab_content">
				<div id="comment_list">
					{% include 'comment/Comment/edit.html.twig' with { 'idClassName' : idClassName, 'className': className } %}
				</div>
			</div>
		</div>
	</div>
</div>