<script>
	function selectBiography() {
		if (typeof event.target.dataset.id !== "undefined") {
			var $newOption = $("<option selected='selected'></option>").val(event.target.dataset.id).text(event.target.dataset.title);
			$("#" + document.getElementById("validateBiographyModal").dataset.biography).append($newOption).trigger('change');
		}

		document.getElementById(document.getElementById("validateBiographyModal").dataset.input).value = event.target.dataset.internationalName;
		new bootstrap.Modal(document.getElementById('validateBiographyModal')).hide();
	}
</script>

<div class="container-fluid">
	{% if entities is not empty %}
    <div class="row">
		{% for entity in entities %}
			<div class="col-12 mt-3">
				<div class="card">
					<div id="content-biography">
						{% include 'quotation/BiographyAdmin/quick_data.html.twig' %}
					</div>
				</div>
			</div>
		{% endfor %}

		{% set languageIds = entities[0].languages_id|split("#") %}

		{% if entities|length == 1 %}
			{% if language not in languageIds %}
				<div id="iframe-container" class="w-100 card mt-2 mx-3"><iframe src="{{ path('Biography_Admin_Quick', {locale: language, title: entities[0].title, wikidata: (wikidata is not empty ? wikidata : entities[0].wikidata), internationalName: entities[0].internationalName}) }}" style="height: 55vh; border: none;"></iframe></div>
			{% endif %}
		{% endif %}
    </div>
	{% else %}
		<div id="content-biography-container">
			<div class="row">
				<div class="col-12 mt-3">
					<div class="card">
						<div id="content-biography">
							<div class="alert alert-info">{{ "biography.admin.NonExistentBiography"|trans([], "validators") }}</div>
							<div id="iframe-container"><iframe src="{{ path('Biography_Admin_Quick', {locale: language, title: title, wikidata: wikidata, internationalName: internationalName}) }}" style="height: 55vh; border: none;"></iframe></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>