<form action="{{ path('Resetting_Send_Email') }}" method="POST" class="resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}
		<div class="form-table form-table-4cols form-table-collapse mb-3">
			<div class="form-table-cell form-table-cell-head"><label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label></div>
			<div class="form-table-cell"><input type="text" class="form-control" id="username" name="username" required="required" /></div>
		</div>
    </div>
    <div class="mt-3 text-end">
        <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="submitcomment btn" />
    </div>
</form>