{% extends "content_layout.html.twig" %}

{% block title %}Reset password{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/elite-icon.png') }}" width="25" class="mt-1" alt="Elite"></span>Reset password</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ "resetting-password-after-mail.jpg"|imgsize(550, 'extended/photo/', true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	{% include "user/Resetting/reset_content.html.twig" %}
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}