<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-4 align-self-center text-center">
			{% if entity.photo is not empty %}
				{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}
			{% elseif entity.imageEmbeddedCode is not empty %}
				{% include 'store/Store/_store_embedded_image.html.twig' with { id: entity.id, title: entity.title, embeddedCode: entity.imageEmbeddedCode } %}
			{% else %}
				<img src="{{ path('Store_GenerateEmbeddedCode', {id: entity.id}) }}" class="w-100 mx-auto d-block">
			{% endif %}
		</div>

		<div class="col-md-8 content-card d-flex flex-column">
			<div class="card-body flex-grow-1 pb-0">
				<h5 class="card-title text-center">{{ entity.title }}</h5>
				{% include 'store/Store/_store_info.html.twig' %}
			</div>
			<div class="px-125">
				<hr>
			</div>
			<div class="card-footer d-flex gap-2 mt-auto">
				{% include 'store/Store/_store_button.html.twig' %}
			</div>
		</div>
	</div>
</div>