<div class="text-center d-inline-block">
	<div class="store_embedded_image">
		<div class="container-store-{{ id }}" style="position: relative; display: grid">{{ embeddedCode|raw }}</div>
	</div>
</div>