<style>.container-store-{{ id }} a img { width: 100%; }</style>

<div class="text-center">
	<div class="d-inline-block">
		<div class="store_embedded_image">
			<div class="container-store-{{ id }}" style="position: relative; display: grid">{{ embeddedCode|raw }}</div>
		</div>
	</div>
</div>