{% extends "index/Generic/pdfVersion_generic.html.twig" %}

{% block main_content_pdf %}
	<h1>{{ entity.title }}</h1>
	
	{% if entity.photoIllustrationFilename is not empty %}
		<p class="text-center">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), false)|raw }}</p>
	{% endif %}
	
	<br>
	{{ ((entity.text|HTMLPurifier)|removeStyleAttributeFromHtmlTags)|raw }}
{% endblock %}