<form>
	<!--<div class="mb-3">
		<label for="exampleInputName2">Trier par</label>
		<select class="form-select select_sort">
			<option value=""></option>
			<option value="date_up">Date &#8593;</option>
			<option value="title_up">Titre &#8593;</option>
			<option value="date_down">Date &#8595;</option>
			<option value="title_down">Titre &#8595;</option>
		</select>
	</div>-->
	<div class="mb-3 row mt-2 mx-1">
		<label for="search_keyword_file_colorbox" class="col-sm-2 col-form-label">{{ "admin.general.Search"|trans([], "validators") }}</label>
		<div class="col-sm-10">
			<input type="text" class="form-control search_keyword_file_colorbox" id="search_keyword_file_colorbox">
		</div>
	</div>
</form>

<div id="colorbox_content">
	<div class="text-center">
		<i class="fas fa-spinner fa-pulse"></i>
	</div>
</div>

<script>
var delayTimer;
	function load_content(page_params, search_params)
	{
		let xmlHttp = new XMLHttpRequest();

		xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				$('#colorbox_content').html(xmlHttp.responseText);
				
				document.querySelectorAll(".show_image_colorbox_item").forEach(e => {
					e.addEventListener("click", (event) => {
						let id = window.parent.document.querySelector(".modal.show").dataset.fieldId;
						window.parent.document.querySelector("#" + id + ".existing_photo_colorbox").value = event.target.getAttribute("title");
						
						if(window.parent.document.querySelector("#" + id + "_infos " + ".existing_photo_url_colorbox") !== null) {
							window.parent.document.querySelector("#" + id + "_infos " + ".existing_photo_license_colorbox").value = event.target.dataset.license;
							window.parent.document.querySelector("#" + id + "_infos " + ".existing_photo_author_colorbox").value = event.target.dataset.author;
							window.parent.document.querySelector("#" + id + "_infos " + ".existing_photo_url_colorbox").value = event.target.dataset.url;
							tinymce.get(document.querySelector("#" + id + "_caption_container " + ".existing_photo_caption_colorbox").getAttribute("id")).setContent(event.target.dataset.caption);
						}

						bootstrap.Modal.getInstance(document.getElementById("selectFileModal_" + id)).hide();
						console.log(event.target.dataset)
					});
				});

				[...document.getElementsByClassName("pagination_colorbox")].forEach((e) => {
					e.addEventListener("click", (event) => {
						load_content(event.currentTarget.dataset.page, '');
						event.preventDefault();
					});
				});

				document.getElementById("search_keyword_file_colorbox"). addEventListener("keyup", (e) => {
					
					clearTimeout(delayTimer);
					
					delayTimer = setTimeout(function() {
						load_content(1, e.target.value);
					}, 500);
				});
			}
		};

		xmlHttp.open("POST", "{{ path(url_ajax) }}", true);
		xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		xmlHttp.send("page=" + page_params + "&search=" + search_params);
	}

	load_content(1, '');
</script>