<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "usefullinktags.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>