div.leaflet-popup-content-wrapper {
	background-color: black;
}
div.infowindow {
	height:250px;
	width:300px;
	overflow-y:auto;
	color: #aaa;
	text-align: justify;
	font-family: 'Times New Roman', Arial, serial;
}

p.infowindow_title
{
	font-size: 16px;
	text-align: center;
}

div.infowindow_text
{
	padding-right: 8px;
	font-family: 'Times New Roman', Arial, serial;
}

a.link_map
{
	font-family: 'Times New Roman', Arial, serial;
	color: #b9c322 !important;
}

.leaflet-control-zoom a {
	color: black !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: black !important;
}
.leaflet-popup-close-button {
	color: red !important;
}