/*
CSS Credit: http://www.templatemo.com
*/

$twitter-color: black;
$facebook-color: #3b5998;
$linkedin-color: #0e76a8;
$whatsapp-color: #4AC959;
$flipboard-color: #e12828;
$github-color: #333333;
$mastodon-color: #5843D7;
$weibo-color: #DF2029;
$instagram-color: #bc2a8d;
$diaspora-color: darkorange;
$vk-color: #0077FF;
$bluesky-color: #0077FF;
$tiktok-color: #ff0050;

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #AAAAAA;
	background: #080808;
	cursor: url(images_v2/greenNormalPoint.cur), auto;
}

a:link, a:visited { color: #B9C322; text-decoration: none; } 
a:active, a:hover { color: #FFCC00; text-decoration: underline; }

p { 
	margin: 0; 
	padding: 0; 
	text-align:justify;
}

img { 
	border: none;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.float-start { float: left; }
.float-end { float: right; }

.bg-light { background-color: #f8f9fa !important; }

.button_01 a {
	display: block;
	width: 90px;
	height: 24px;
	padding: 6px 0 0 30px;
    background: url(images_v2/templatemo_button_01.jpg) no-repeat;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

h2 {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

h2 span {
	position: absolute;
	width: 15px;
	height: 35px;
	left: 0px;
	top: 0px;
}

h3 {
	margin: 0 0 5px 0;
	padding: 2px 0 3px 0;
	font-size: 14px;
	font-weight: normal;
	color: #d7e13d;	
	border-bottom: 1px dotted #d7e13d;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	font-weight: bold;
}

#image_wrapper {
	text-align: center;
}

#templatemo_container_wrapper {
	width:100%;
	margin: 0 auto;
	background: url(images_v2/templatemo_body_bg_3.jpg) center top no-repeat;
}

#templatemo_container {
	width: 960px;
	padding: 0 5px;
	margin: 0 auto;
	background: url(images_v2/templatemo_container_bg.png) center repeat-y;
}

/* bannner */
#templatemo_banner {
	width: 950px;
	height: 110px;
	padding: 0 30px 0 20px;
	background: url(images_v2/templatemo_banner.jpg) no-repeat;
}

#templatemo_banner #site_title {
	float: left;
	width: 250px;
	margin: 20px 0 0 20px;
}

#flag
{
	margin-top: 6px;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 28px;
	color: #ccd718;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
	text-shadow: 0 0 7px #ccd718!important;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #585d13;
}

#templatemo_menu {
	float: right;
	width: 600px;
	padding: 0 10px;
}

#templatemo_menu ul {
	overflow: hidden;
	padding: 35px 0 0 0;
	margin: 0px auto;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	margin: 0px 5px;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #000000;	
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .active {
	color: #ffffff;
	background: #666600;
}

#templatemo_content {
	clear: both;
	width: 910px;
	padding: 30px 30px 0 20px;
	background: url(images_v2/templatemo_content_top.jpg) top center no-repeat;
}

#side_column {
	float: left;
	width: 250px;
}

#main_column {
	float: right;
	width: 600px;
}

.side_column_box {
	position: relative;
	margin-bottom: 30px;
	background: #000000;
    border-radius: 15px;
}

.side_column_box .bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 10px;
}

.side_column_box h2 {
	background: url(images_v2/templatemo_h2_right.jpg) right top no-repeat;
	line-height: inherit;
}

.side_column_box h2 span {
	background: url(images_v2/templatemo_h2_left.jpg) no-repeat;
}

.side_column_box .side_column_box_content {
	padding: 27px;
}

.news_section {
	clear: both;
	margin-bottom: 20px;
}

.side_column_box form {
	margin: 0px;
	padding: 0px;
}
.main_column_section {
	position: relative;
	margin-bottom: 30px;
	background: #000000;
	border-radius: 15px !important;
}
.main_column_section .card-header {
	padding: 0px;
}

.main_column_section .bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 600px;
	height: 10px;
	background: url(images_v2/templatemo_main_column_section_bottom.jpg);
}

.main_column_section h2 {
	background: url(images_v2/templatemo_h2_right_02.jpg) right top no-repeat;
	line-height: inherit;
}

.main_column_section h2 span {
	background: url(images_v2/templatemo_h2_left_02.jpg) no-repeat;
}

.main_column_section .content {
	text-align: justify;
	padding: 30px;
}

.content p {
	margin-bottom: 10px;
}

/* end of content */

/* footer */

#templatemo_footer {
	clear: both;
	width: 780px;
	height: 75px;
	padding: 30px 90px 0 90px;
	text-align: center;
	color: #3b3838;
	background: url(images_v2/templatemo_footer.jpg) no-repeat;
}

#templatemo_footer a {
	font-weight: bold;
	color: #000000;
}

#templatemo_footer .footer_menu {
	margin: 0 0 5px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #000000;
}

.footer_menu .last_menu {
	border: none;
}

/********* STORE ********/
div.store_embedded_image img, div.advertising_image a img {
	max-width: 100%;
	height: auto;
}

/******** TABLEAU *******/
div.store_description table
{
	border: #d7e13d 1px solid;
	border-collapse: collapse;
	width:100%;
}

th
{
   color: white;
   font-size: 1.1em;
   font-family: "Times New Roman", Arial, "Arial Black", Times, serif;
   text-align: center !important;
}

td
{
   border: 1px solid black;
   border-color: #d7e13d;
   font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
   text-align: center;
   padding: 5px;
}

/************************* HR **************************************/
.hr2
{
	height: 0px;
	border: 1px #D7E13D dotted;
}

/***************** Erreur HTTP *******************/
a, button, #rate, .social_network_to_select, input[type="image"], input[type="button"], input[type="submit"], .degree, .cursor-pointer
{
	cursor: url(images_v2/greenPointer.cur), auto !important;
}
/************* Commentaires ***************/
.comment{
	background-color: #f5f5f5;
	border: 1px solid #CCC;
	color: #666;
	margin-bottom: 10px;
	padding: 5px;
}
.comment iframe {
	max-width: 500px !important;
}
.pseudoComment
{
	border-bottom: 2px dotted #CCC;
}

.text-success
{
	color: #28a745!important;
}

.submitcomment
{
	background-color: #bdc62b;
	font-family: "Times New Roman", Arial, "Arial Black", Times, serif;
	font-size: 1.1em;
}

.text-end
{
	text-align: right;
}

/************* Réseau Sociaux ***************/
.btn.social-share {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
	color: white;
	display: inline-block;
}
.social-share.twitter {
    background: white;
    color: $twitter-color;
}
.social-share.facebook {
	background-color: $facebook-color;
}
.social-share.linkedin {
	background-color: $linkedin-color;
}
.social-share.whatsapp {
	background-color: $whatsapp-color;
}
.social-share.flipboard {
	background-color: $flipboard-color;
}
.social-share.github {
	background-color: $github-color;
}
.social-share.mastodon {
	background-color: $mastodon-color;
}
.social-share.bluesky {
	background-color: $bluesky-color;
}
.social-share.tiktok {
	background-color: $tiktok-color;
}
.social-share.weibo {
	background-color: $weibo-color;
}
.social-share.instagram {
	background-color: $instagram-color;
}
.social-share.diaspora {
	background-color: $diaspora-color;
	color: black;
}
.social-share.vk {
	background-color: $vk-color;
}

#mastodonModal .modal-content {
    background-color: var(--mastodon-modal-bg, #282C37);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 252.85863 194.49997' width='252.85863' height='194.49997'%3E%3Cg transform='translate(-395.89999 -830.4)'%3E%3Cdefs%3E%3Cpath id='a' d='M395.89999 745.09998H690.5V1024.9H395.89999z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' width='100%25' height='100%25' overflow='visible'/%3E%3C/clipPath%3E%3Cpath class='st53' d='M339.3 1028.6c1.5-3.2 14.4-31.3 27.4-58.8-6-9.3-2-17 1.5-23.7 1.9-3.7 3.8-7.1 3.6-10.4-.8-22 8.1-38.3 22.8-41.6 2.8-.6 5.2-.9 7.5-.9 3 0 5.6.5 8.1 1.6 1.4-1.3 2.8-2.6 4.2-3.8-2.8-2.6-4.3-5.5-4.5-8.8-.3-4.5 2.2-9.5 6.8-13.7 5.3-4.8 16.5-12.9 31.7-12.9.9 0 1.7 0 2.6.1-.4-.9-1-2-2.1-2.9-2.1-1.6-1.9-3.2-1.6-4 .7-2.1 3.6-3.2 8.1-3.2 3.9 0 9.7 1.2 14 4.4.3-.7.7-1.3 1.3-1.7.5-.3 1.3-.5 2.2-.5 3.4 0 10.6 2.7 15.5 9.9 3.6 5.3 3.6 10.8.1 16 18.3 4.7 30.1 15.6 39.5 24.4 2.5 2.4 5 4.6 7.3 6.5 10.7 8.9 21.4 13.2 32.7 13.2.9 0 1.8 0 2.7-.1 2-13.5-4.1-25.5-10-35.7-6.2-10.7-6.4-12.1-4.9-13.9l.1-.1c.6-.7 1.3-1 2.1-1.1h.3c1.7 0 4.5 1 13 8.7 9.9 9 16.9 22.2 19.2 36.5 8.9-4.9 15.2-12.5 17.1-20.3 2-8.6.5-16.8-4.2-22.7l-13.1 6.1-7-16.9-15.6 3.2 7.2-19.5h.1l-.2-.5 4.6-11.1 65.7 11.9c3.1.6 3.9 2.7 3.6 4.5l-.2 1-.4-.1c-.3.4-.6.7-1 .9-.7.3-7.5 3.6-21 9.9 2.1 2.9 2.2 6.1.4 9.4-1.1 1.9-2.5 6.2.4 13.3 3.7 8.9 3.5 29.2-8.3 46.2-8.1 11.7-18.3 23-37.6 26.6-3 4.6-6.5 9-10.2 12.6-7.8 7.6-24 15.3-42.3 15.3-5.3 0-10.7-.6-15.9-1.9-7.6 12.9-10.5 26.2-10.6 32.1-.2 11 .9 16.1.9 16.2l.4 1.8-164.9.8.9-2.3z' clip-path='url(%23b)'/%3E%3Cpath class='st53' d='M339.8 1028.8c.1-.3 13.9-30.1 27.5-59.1-6.1-9.2-2.1-16.8 1.4-23.5 2-3.7 3.8-7.3 3.7-10.6-.8-21.7 8-37.9 22.4-41 2.7-.6 5.1-.9 7.4-.9 3 0 5.7.5 8.2 1.7 1.6-1.6 3.2-3 4.9-4.4-3-2.6-4.6-5.5-4.8-8.8-.3-4.4 2.1-9.2 6.6-13.3 5.3-4.8 16.4-12.8 31.4-12.8 1.1 0 2.2 0 3.3.1-.3-1.1-1-2.7-2.5-3.8-1.8-1.4-1.7-2.8-1.5-3.4.6-1.8 3.4-2.9 7.6-2.9 4.4 0 10.3 1.5 14.3 4.8.1-.9.6-1.7 1.3-2.1.4-.3 1.1-.4 1.9-.4 3.3 0 10.3 2.6 15.1 9.7 3.6 5.3 3.5 10.9-.3 16.1 18.6 4.6 30.5 15.6 40 24.4 2.6 2.4 5 4.6 7.3 6.5 10.8 8.9 21.6 13.3 33.1 13.3 1 0 2.1 0 3.1-.1 2.2-13.9-4-26.1-10-36.4-6.3-10.9-6.2-11.8-5-13.3l.1-.1c.2-.2.7-.9 1.8-.9h.2c1.5 0 4.2 1 12.7 8.6 10 9.1 17 22.5 19.2 36.9 9.3-5 16-12.8 17.9-20.9 2.1-8.9.4-17.4-4.5-23.4l-13 6.1-6.9-16.8-15.1 3.1 6.8-18.4h.6l-.5-1 4.4-10.6 65.3 11.8c3.5.7 3.3 3.2 3.2 3.9l-.1.5h-.2c-.2.4-.6.8-1 1-.7.3-7.9 3.7-21.6 10.2.1.1.2.2.3.4 2 2.7 2.2 5.8.4 8.9-1.1 2-2.6 6.4.4 13.7 3.6 8.8 3.4 28.8-8.2 45.7-8.1 11.7-18.2 22.9-37.5 26.4-3 4.7-6.5 9.1-10.3 12.7-7.8 7.5-23.7 15.1-42 15.1-5.4 0-10.9-.7-16.1-2-7.7 13.1-10.7 26.7-10.9 32.7-.2 11.1.9 16.2.9 16.3l.3 1.2-163.5.8.5-1.7z' clip-path='url(%23b)'/%3E%3Cpath d='M577.5 843.7l-1-2.1 3.9-9.4 64.5 11.6c2.4.5 2.5 2 2.4 2.8' clip-path='url(%23b)' stroke-miterlimit='10' fill='%23fff' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M584.2 856.7l6.9 16.6s53.7-25.1 55.5-26c.9-.5 1.5-2.2-1-2.3-2.5-.1-69.6-1.4-69.6-1.4l-5.9 16 14.1-2.9z' clip-path='url(%23b)' stroke-miterlimit='10' fill='%23fff' stroke='%23000' stroke-width='1.70000005' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M585.1 857l58.9-11.2 1.4-.5h.4c.8 0 .7.3.8.6.1.3-.1.6-.4.8L587 861.5l-1.9-4.5z' clip-path='url(%23b)' fill='%23d1d3d4'/%3E%3Cpath class='st57' clip-path='url(%23b)' stroke-miterlimit='10' d='M584.20001 856.70001l61.79999-11.5' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='st58' d='M388.5 927.9c20-40 49.9-56.3 83.4-54.9 33.6 1.4 48.8 21.7 62.4 32.9 13.6 11.2 27.5 15.6 43.4 12.5 15.9-3.1 28.5-14.6 31.2-26.1 2.7-11.5-1-20.7-6.1-25.8-5.1-5.1-1.4-8.1 4.1-6.8 5.4 1.4 8.1 3.4 8.1 3.4s7.8-6.4 9.8-3.7c2 2.7 1.7 5.4.3 7.8-1.4 2.4-2.7 7.1.3 14.6 3.1 7.5 4.1 27.1-8.1 44.8-12.2 17.6-26.5 30.1-62.1 26.5-38.5-3.9-54.6 44.2-54.9 59-.2 11.5.9 16.5.9 16.5l-160.7.8c.2-.1 33.4-72.4 48-101.5z' clip-path='url(%23b)' stroke-miterlimit='10' fill='%2353606c' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='st59' d='M399.4 989.3c-6.1 0-9.9-4.3-10-4.3l-.2-.2-.3.1c-3.1 1-6.1 1.5-9 1.5-6.1 0-11.4-2.2-15.6-6.5 1.4-3 2.9-6.1 4.3-9.1.1.1.1.2.2.3 6.1 8 12.7 9.7 17 9.7 3.2 0 5.6-.9 6.6-1.3.7 1.3 3 4.7 7.5 4.7 1.2 0 2.5-.3 3.9-.8 6.7-2.5 15.7-13.1 18.3-22.1 3.2 5.7-2.8 18.3-13.8 25.3-3 1.7-6 2.7-8.9 2.7zm24.5-78.1c-5.7-11.1-10.8-14.2-12.4-14.9 15.7-15.3 34.7-23 56.6-23 1.3 0 2.5 0 3.8.1 2.1.1 4.2.3 6.4.5 1.5 2.7-.4 5.6-.8 6.3-3 .8-11.2 6.5-18.5 11.6-1.9 1.3-3.7 2.6-5.3 3.7-5.3 3.7-13.6 4.2-18 4.2-1.8 0-2.9-.1-2.9-.1h-.3l-8.6 11.6zm95.3 49c4.2-7.1 12.6-15.2 28.3-15.2 3.5 0 7.2.4 11 1.2 3.4.7 7 1.1 10.6 1.1 15.9 0 29.8-7.9 34.8-12.5 6.5-6 10.5-9.8 12-12.4 1.4-2.4 3.2-2.8 4.7-2 .1.1-.7 1.1-.6 1.1-.9 1.7-1.9 3.3-3 4.8-11.5 16.6-23.9 26.9-50 26.9-3.6 0-7.5-.2-11.6-.6-1.5-.2-3-.2-4.4-.2-9.4 0-18.1 3.2-25.9 9.4l-5.9-1.6z' clip-path='url(%23b)' fill='%2338434f'/%3E%3Cpath class='st58' d='M427.4 920.5c-9.1-24.2-19-27.9-32.4-25-13.4 3-22.4 18-21.6 40 .4 10.2-15.5 20.5-4.3 35s23.5 8 23.5 8 3 7.1 11 4.1 16.7-13.5 18.5-21.6' clip-path='url(%23b)' stroke-miterlimit='10' fill='%2353606c' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='st59' d='M417.2 934.2c-7.3.5-8.6-4.8-7.3-7 1.2-2.1 4.6-3.2 4.6-3.2s-5.3-.2-6.3-4c-1-3.7 4-5.3 4-5.3s-2.9-8.6-13.3-6.1-14.4 11.7-14.2 19c.6 15.3-10.2 22.8 0 29.7 10.1 6.9 23.7-2.8 28.5-11.3 4.8-8.5 4-11.8 4-11.8z' clip-path='url(%23b)' fill='%2338434f'/%3E%3Cpath class='st57' d='M392.6 978.6c6.3-3.9 9.1-7.5 9.1-7.5m15.5-36.9c-7.3.5-8.6-4.8-7.3-7 1.2-2.1 4.6-3.2 4.6-3.2s-5.3-.2-6.3-4c-1-3.7 4-5.3 4-5.3s-2.9-8.6-13.3-6.1-14.6 11.7-14.2 19' clip-path='url(%23b)' stroke-miterlimit='10' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M417.5 891.4c-9.8-6.9-6.2-16 .3-21.8 6.5-5.8 19-14 35.2-12.2 0 0-.2-3.5-3.1-5.8s-.5-4.5 5.5-4.5 12.9 2.6 15.8 6.9c0 0-1.4-3.2.4-4.4 1.8-1.2 10.2 1 15.6 9s1.1 14.9-5.2 19.9c-6.3 5-36.2 11.6-48.8 10.9' clip-path='url(%23b)' fill='%2353606c'/%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath class='st36' d='M459.5 878.7c-11.1.6-22.1 3.3-32.9 6.1-4.1 1.1-8.2 2.2-12.4 2-.4 0-.8-.1-1.3-.1 1 1.6 2.5 3.2 4.6 4.7l15.6-2.1c11.3.7 37-4.7 46.4-9.4-6.5-1.1-13.3-1.5-20-1.2z' fill='%2338434f'/%3E%3C/g%3E%3Cpath class='st59' d='M417.5 890.8c-3.5-2.5-5.3-5.5-5.5-8.8-.2-3.2 1.2-6.7 4-9.9-.4 1.6-.2 3.2.5 4.7 1.2 2.5 3.6 4 6.3 4 2.1 0 4.3-.9 6.3-2.6 7.2-6 19.4-10.4 29.1-10.4 1.9 0 3.7.2 5.3.5 7.7 1.6 12.3 3.7 13.8 6.7.8 1.6.8 3.3 0 5.4-10.1 4.3-31.2 8.6-42.1 8.6-.7 0-1.4 0-2.1-.1-1.4-.1-2.8-.1-4-.1-7.5-.1-10.6 1.4-11.6 2z' clip-path='url(%23b)' fill='%2338434f'/%3E%3Cpath class='st57' d='M471.2 854c2.2 3.4 1.1 6.7 1.1 6.7' clip-path='url(%23b)' stroke-miterlimit='10' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M489.6 967.9c34.6 23.5 68.7 8.7 80.2-2.4 11.4-11.1 20.8-28.5 20-45.9-.8-17.4-8.5-32.9-19.5-42.8-10.7-9.6-12.4-8.7-13.2-7.7-.8 1-1.4 1.1 5 12.2s13.4 24.6 9.5 40.2c-3.9 15.6-15.6 29.9-29.6 34-14 4-21.6-1.4-26.1-3.2 0 0 1 4-3.4 4.3-4.3.3-11.1-2.9-11.1-2.9s2.7 3 .1 5-5.9-.9-5.9-.9 2.5 2.2 1.5 3.3c-1 1.1-2.3.8-4.2-.6 0 0 3.2 3.6 1 5.5s-4.3 1.9-4.3 1.9z' clip-path='url(%23b)' stroke-miterlimit='10' fill='%23b3becd' stroke='%23000' stroke-width='1.60000002' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M528.6 979.9c-13.1 0-25.8-3.9-37.6-11.7.9-.2 2.1-.7 3.3-1.8 1.4-1.3 1-3 .3-4.3.4.1.8.2 1.1.2.7 0 1.3-.3 1.8-.8.3-.3.4-.6.4-1 0-.3-.1-.6-.2-.9.6.2 1.2.4 1.9.4.9 0 1.7-.3 2.4-.8.3-.2.5-.5.7-.8 12.6 6.2 22.6 9.1 31.5 9.1 7.8 0 14.7-2.3 21.1-6.9 16.8-12.3 21.3-21.3 24.6-27.9l.3-.6c2.3-4.5 4.2-6.5 6.4-6.5.9 0 1.7.3 2.7.9-1.4 13.6-8.7 28-19.6 38.6-7.9 7.4-23.4 14.8-41.1 14.8z' clip-path='url(%23b)' fill='%2392a1b5'/%3E%3Cpath class='st57' d='M489.6 967.9c-3.9.1-6.7-.9-6.7-.9' clip-path='url(%23b)' stroke-miterlimit='10' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M484 908.3c-2.2.9-2.1 3.2.1 6.7 2.1 3.5 4.5 7.9 5.9 10.3 1.4 2.4 2.6 3.5 4 2.8 1.4-.6 1.8-2 .4-4.9-1.4-2.9-5.8-11-7.2-12.7-1.6-1.7-2.4-2.5-3.2-2.2z' clip-path='url(%23b)' stroke-miterlimit='10' fill='%2338434f' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='st57' d='M525.9 907.8c2.5-3.7 4.8-5.2 4.8-5.2m3.8 11.9c1.5-3.1 3.7-5.6 3.7-5.6m11.9 13.3c1-3.9 2.7-5.6 2.7-5.6m10.7 9c.6-4.6.9-6.6.9-6.6' clip-path='url(%23b)' stroke-miterlimit='10' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath class='st49' d='M504.9 862.2c.8-.4 1.5-.8 2.2-1.1' fill='none' stroke='%23e3e5e5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M519.8 856.2c13.6-3.5 22.1.5 28.2 3.3 5.3 2.4 11.6 4.7 17.6 5.3' fill='none' stroke='%23e3e5e5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='4.5286,13.5857'/%3E%3Cpath class='st49' d='M572.4 864.5c.8-.2 1.6-.4 2.4-.7' fill='none' stroke='%23e3e5e5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath d='M491.2 946.7c-4.1 1.1-6.1 1.8-10 3.5-2.1.9-4.6.1-5.6-1.9s0-4.6 2.3-5.6c4.3-1.9 6.6-2.7 11.2-3.9 2.4-.6 4.8.8 5.3 2.9.4 2.2-1 4.4-3.2 5z' fill='%23505762'/%3E%3C/g%3E%3Cpath class='st57' d='M515.8 952.3c-.2-2.3-1.7-3.3-1.7-3.3' clip-path='url(%23b)' stroke-miterlimit='10' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath d='M454.5 887.5c-3.5.7-7.1 1.3-10.6 1.7-3.6.4-7.2.8-10.8.6-.3 0-.5-.2-.5-.5s.2-.5.5-.5c3.5.2 7.1-.1 10.6-.4 3.5-.4 7.1-.9 10.6-1.6.2 0 .4.1.4.3.1.2 0 .4-.2.4z'/%3E%3C/g%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath d='M417.2 891.8c-2.2-1.6-4.3-3.6-5.4-6.2l-.4-1-.2-1-.1-.5v-.5c0-.4-.1-.7-.1-1.1 0-1.4.2-2.8.7-4.1.9-2.6 2.6-4.9 4.4-6.9 1.9-2 4-3.6 6.2-5.2s4.6-2.9 7-4.1c2.4-1.2 5-2.2 7.6-2.9 5.2-1.5 10.7-1.9 16.1-1.4l-.6.5c-.2-1.3-.7-2.7-1.4-3.8-.4-.6-.8-1.1-1.4-1.5-.5-.5-1.2-1-1.5-1.9-.1-.2-.1-.5-.1-.7.1-.2.1-.5.2-.7.2-.4.6-.7.9-.9.7-.5 1.4-.7 2.2-.9 1.5-.3 3-.4 4.4-.4 2.9.1 5.9.7 8.6 1.8 2.7 1.1 5.3 2.8 7.1 5.3l-.9.5c-.3-.7-.5-1.3-.5-2.1-.1-.7 0-1.5.4-2.3.3-.3.5-.7 1-.8.2-.1.4-.1.6-.2.2 0 .4-.1.6-.1.7 0 1.4.1 2.1.2 1.4.3 2.6.8 3.9 1.4 1.2.6 2.4 1.3 3.5 2.1 2.2 1.6 4.1 3.6 5.6 5.9.7 1.2 1.4 2.4 1.8 3.7.3.6.4 1.3.5 2 .1.3.1.7.1 1v1c-.1 2.8-1.3 5.5-3 7.6-1.7 2.2-3.6 4-5.9 5.6-2.4 1.4-4.9 2.3-7.4 3.2-2.5.8-5.1 1.5-7.8 1.9 1.2-.5 2.5-.9 3.7-1.4l3.7-1.3c2.5-.9 5-1.8 7.2-3.2 2.1-1.5 4-3.3 5.6-5.4 1.5-2.1 2.6-4.5 2.7-7 .1-2.5-.8-5-2.2-7.1-1.4-2.2-3.2-4.1-5.3-5.6-2.1-1.5-4.4-2.8-6.9-3.4-.6-.1-1.2-.2-1.8-.2-.6 0-1 .1-1.3.5-.5.8-.2 2.3.2 3.4.1.3 0 .5-.3.6-.2.1-.4 0-.6-.2-1.6-2.3-4-3.8-6.6-4.9-2.6-1.1-5.4-1.7-8.2-1.7-1.4 0-2.8.1-4.2.4-.7.2-1.3.4-1.8.7-.5.4-.8.8-.7 1.3.1.5.6.9 1.2 1.4.6.5 1.1 1.1 1.5 1.7.9 1.3 1.4 2.7 1.6 4.3 0 .3-.2.5-.4.5h-.1c-5.3-.5-10.7-.1-15.8 1.4-2.5.7-5 1.7-7.4 2.8-2.4 1.2-4.7 2.5-6.8 4.1-2.2 1.5-4.3 3.2-6.1 5.1-1.8 1.9-3.4 4.1-4.2 6.5-.4 1.2-.6 2.5-.7 3.8 0 .3.1.6.1 1v.5l.1.5.2.9.4.9c1 2.4 2.9 4.3 5 5.8.2.2.3.5.1.7-.2.2-.4.3-.7.1z'/%3E%3C/g%3E%3Cg class='st53' clip-path='url(%23b)'%3E%3Cpath class='st36' d='M615.1 863.2c2 1.2 2.3 1.8 2.3 1.8' fill='%2338434f'/%3E%3Cpath d='M615.3 862.9l1.2.9c.2.2.4.3.6.5.2.2.3.4.5.6 0 .1 0 .2-.1.2h-.2l-.5-.5c-.2-.1-.4-.3-.6-.4-.4-.3-.8-.5-1.3-.7-.2-.1-.2-.3-.1-.5s.2-.2.5-.1c-.1 0-.1 0 0 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="%23606984"/></svg>');
	background-size: 8rem, auto;
    background-position: bottom left, bottom center;
    background-repeat: no-repeat, repeat-x;
    padding: 0rem 0rem 2rem 0rem;
}

#mastodonModal .close {
	opacity: initial;
	text-shadow: initial;
}
#social_network
{
	border-color: black;
}
#social_network td
{
	padding: initial;
}
/************* Design Visionneuse News ***************/
.infoDefile
{
	display: inline;
	color: white;
}

/********** ICONE ***************/
.icone
{
	float: left;
	padding-bottom: 0px;
}

/*********** Formulaire ************/
.form-control
{
	width: 100%;
	box-sizing: border-box;
}
.form-select
{
	width: 100%;
}

.required_star
{
	color: red;
}

textarea.edit
{
	width: 440px;
	height: 75px;
	resize: vertical;
}

/************* Datatables **************/
table.dataTable tr.odd{
	background-color: black !important;
}
table.dataTable tr.even{
	background-color: #003900 !important;
}
table.dataTable thead th, table.dataTable tfoot th {
	color: white;
}

table {
	color: #aa9a6f;
	border: #d7e13d solid 1px;clear: both;
}

table.dataTable {
	margin-bottom: 10px !important;
}

table.dataTable td{
	border: #d7e13d solid 1px !important;
}

table.dataTable tr.even td.sorting_1 {
	background-color: #005a00 !important;
}

table.dataTable tr.odd td.sorting_1 {
	background-color: #001600 !important;
}

div.dataTables_filter {
	margin-bottom: 5px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
	color: #aaa !important;
}

div.dataTables_wrapper div.dataTables_paginate.paging_full_numbers a.paginate_button {
    background-color: #ddd;
	color: #333 !important;
}

div.dataTables_paginate.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

div.dataTables_paginate.paging_full_numbers a.paginate_button, div.dataTables_paginate.paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    color: #333 !important;
}

div.dataTables_wrapper div.dataTables_paginate.paging_full_numbers a.paginate_button.current:hover {
    background-color: #99B3FF;
}

div.dataTables_wrapper div.dataTables_paginate.paging_full_numbers a.paginate_button:hover {
    background: #ccc;
    text-decoration: none !important;
	cursor: url(images_v2/greenPointer.cur),auto;
    color: #333 !important;
    border: 1px solid #aaa;
}
div.dataTables_processing > div > div {
    background: #e4ff00 !important;
}
div.dataTables_wrapper div.dataTables_paginate a.paginate_button:active, div.dataTables_wrapper div.dataTables_paginate a.paginate_button.current {
    background: #99B3FF;
}

table .longType
{
	width: 320px;
}

.doc_datatables
{
	margin-bottom: 10px !important;
}

/*********** Tableau formulaire ************/
.td_form_table {
	background-color: #000e00;
}

/************* Vote ***************/
#rate
{
	border: 1px grey solid;
	background-color: #aeaeae;
}

/************* SUDOSLIDER *************/
#slider ul, #slider li{margin:0;padding:0;list-style:none;position:relative;display:block;}
#slider, #slider li {width:550px;overflow:hidden;}

#sliderEventMessage ul, #sliderEventMessage li{margin:0;padding:0;list-style:none;position:relative;display:block;}
#sliderEventMessage, #sliderEventMessage li {width:550px;overflow:hidden;}

#slider_same_topics ul, #slider_same_topics li{margin:0;padding:0;list-style:none;position:relative;display:block;}
#slider_same_topics, #slider_same_topics li {width:550px;overflow:hidden;}
		
ol.controls {margin:1em 0;padding:0;height:28px;	}
ol.controls li{margin:0 10px 0 0; padding:0;float:left;list-style:none;height:28px;line-height:28px;}
ol.controls li a{float:left;height:28px;line-height:28px;border:1px solid #d3dd3c;background:#2f2b2a;color:#d3dd3c;padding:0 10px;text-decoration:none;}
ol.controls li.current a{background:#d3dd3c;;color:black;}
ol.controls li a:focus, .prevBtn a:focus, .nextBtn a:focus{outline:none;}

/*********** GENERIC *************/
.disabled
{
	color: grey;
}

.text-start {
	text-align: left;
}

.fst-italic {
	font-style:italic;
}

.fw-bold {
	font-weight:bold !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.align-middle {
	vertical-align: middle;
}
.align-top {
	vertical-align: top;
}
.align-text-top {
  vertical-align: text-top !important;
}

.underline {
	text-decoration: underline;
}

.greenPointer:hover {
	cursor: url(images_v2/greenPointer.cur), auto;
}

.w-auto {
	width: auto!important;
}

.select2 {
	width:100%!important;
}

/******* For World News ************/
.select_language_language {
	border: 3px solid #d7e13d;
}

/***** Table used to construct and alignate form ********/
textarea.generation {
	background-color: rgb(216, 216, 216);
	width: 530px;
	height: 50px;
	resize: none;
}

/********** Previous and Next entry ************/
span.previous_next_disable_left, span.previous_next_disable_right {
	color: grey;
}

/************* WPAINT ******************/
.wPaint-menu {
	left: -1px  !important;
	top: -45px !important;
	width: 550px !important;
}
#add_drawing_section {
	padding-top: 30px;
}

#tab_resources a {
	border: solid 1px #d3dd3c;
	padding: 5px;
	border-radius: 15px;
	background-color: black;
	color: #aaaaaa;
}
#tab_resources a:hover {
	background-color: rgba(185, 195, 34, 0.35);
	cursor: url(images_v2/greenPointer.cur), auto;
	text-decoration: none;
}
#tab_resources a.active {
	background-color: #d3dd3c !important;
	color: black;
}
div#tab_resources a:not(:first-child):not(:last-child) {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
div#tab_resources a { margin-bottom: 1rem }

/********** VIDEO *********/
.confirmation_delete_video {
	background-color:#44c767;
	border:2px solid #18ab29;
	text-shadow:0px 1px 0px #2f6627;
}
.confirmation_delete_video:hover {
	background-color:#5cbf2a;
}
.cancel_delete_video {
	background-color:#d0451b;
	border:2px solid #942911;
	text-shadow:0px 1px 0px #854629;
	float: right;
}
.cancel_delete_video:hover {
	background-color:#bc3315;
}
.cancel_delete_video, .confirmation_delete_video {
	color: white !important;
	text-decoration: none !important;
	border-radius:20px;
	-moz-border-radius:20px;
	display:inline-block;
	font-family:Times New Roman;
	font-size:23px;
	padding:7px 31px;
}
.cancel_delete_video:active, .confirmation_delete_video:active {
	position:relative;
	top:1px;
}
p.colored_delete_video {
	font-size: 20px;
	text-align: center;
}

p#media_duration {
	font-size: 20px;
	text-align: center;
}

/********** MUSIC *********/
audio.audio_show {
	width: 543px;
}

/********** PAGINATION *********/
p.pagination a, p.pagination span.current_page, p.pagination span.browse {
	border: solid 1px #B9C322;
	padding: 6px 11px !important;
	color: #B9C322;
	text-decoration: none;
}

p.pagination span {
	cursor:not-allowed;
}

p.pagination a:hover{
	background-color: rgba(185, 195, 34, 0.35);
}

p.pagination span.current_page {
	color: black;
	background-color: #B9C322;
}

.page-item.disabled .page-link {
    background-color: black;
    border: solid 1px #b9c322;
    color: #b9c322;
    cursor: not-allowed;
}

.page-item.active .page-link {
    color: black;
    background-color: #b9c322;
    border: solid 1px #b9c322;
    cursor: not-allowed;
}

/********** Inactive Image ***********/
img.inactive {
	filter: grayscale(100%);
}

/********** QUOTATION ***********/
div.list_quotations_author {
	border-left: 4px double rgb(255, 245, 0); padding-left: 15px; margin-bottom: 5px; padding-right: 15px;
}

div.list_quotations_author:hover {
	opacity: 0.8;
	cursor: url(images_v2/greenPointer.cur), auto;
}

div.list_quotations_author:nth-child(odd) {
	background-color: #001600;
}

div.list_quotations_author:nth-child(even) {
	background-color: #005a00;
}

#quotation_bubble_parent {
	position: relative;
	z-index: 1;
}

#quotation_bubble {
	background: #848484;
	border-radius: 50px;
	min-width:120px;
	width: 100%;
	min-height:20px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	color:#fff;
	position: relative;
	font-size: 22px;
	margin-bottom: 8px;
	line-height: 28px;
}

#quotation_bubble:before {
	content: "";
	width: 50px;
	z-index:-1;
	height: 50px;
	position: absolute;
	bottom: -20px;	
	left: 27px;
	border-radius: 50%;
	border-left: 30px solid #848484;
	border-right: 30px solid transparent;
}

span#author_quotation {
	margin-left: 88px;
}

span#author_quotation a {
	font-size: 20px;
}

/**** Center iframe ****/
iframe {
	display: block;
	margin: 0 auto;
}

iframe, object, embed {
	width: 100%;
}

/**** Pager ****/
a.pager-active {
	border: 2px yellow solid;
	color: red;
}

a.pager-link {
	border: 1px yellow solid;
	padding: 2px 2px 2px 2px;
}

div.bx-pager {
	margin-top: 20px;
	clear: both;
}

.price {
    border-radius: 100%;
    height: 46px;
    line-height: 46px;
    width: 46px;
    background-color: rgba(225, 241, 209, 0.18);
    color: #d7e13d;
    padding: 11px;
}
.rounded {
    border-radius: 0.375rem!important;
}
.amazon, .read, .witchcraft, .aliexpress, .spreadshop {
	background: #ffad1d;
    padding: 0.25rem;
    color: black !important;
	border-radius: .25rem;
	display: inline-block;
}
.amazon span, .read span, .witchcraft span, .aliexpress span, .spreadshop span {
    background: white;
    border-radius: 5px;
    padding: 0.23rem;
	float: left;
}

.amazon:hover, .read:hover, .witchcraft:hover, .aliexpress:hover, .spreadshop:hover {
    opacity: 0.8;
}
.read {
    background: deepskyblue;
}

.witchcraft {
    background: #ec4a23;
}

.aliexpress {
    background: #E52F20;
}

.spreadshop {
    background: #a73c9e;
}

a.tags_display {
    background-color: #d3dd3c;
    color: black;
    border: solid 1px #d3dd3c;
    padding: 5px;
    border-radius: 15px;
    margin-right: 6px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/********** NAV *********/
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
}
/********** PAGINATION *********/
.pagination .page-item a, .pagination .page-item span.current_page, .pagination .page-item span.browse {
	border: solid 1px #B9C322 !important;
    background-color: black !important;
    color: #B9C322 !important;
	text-decoration: none;
}

.pagination .page-item span, .pagination .page-item.disabled {
	cursor:not-allowed;
}

.pagination .page-item a:hover, .pagination .page-item a:hover {
	background-color: rgba(185, 195, 34, 0.35) !important;
}

.pagination .page-item span.current_page, .pagination .page-item.active a {
	color: black !important;
	background-color: #B9C322 !important;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/****** COLLAPSE ******/
.collapse {
  display: none;
}

.collapse.show {
  display: block;
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

h3.cursor-pointer[aria-expanded="false"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    float: right;
}
h3.cursor-pointer[aria-expanded="true"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f13a";
    float: right;
}
/****** IMAGE ******/
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
h2 span img {
	padding-left: 10px;
}

/****** TEXT ******/
.align-self-center {
    align-self: center!important;
}
.text-center {
    text-align: center!important;
}

.justify-content-center {
  justify-content: center !important;
}

.nav-pills .nav-link.active {
    background: black;
    color: white;
    border: none;
}

/****** DISPLAY ******/
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.d-sm-inline {
  display: inline !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
    align-items: center!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.flex-row {
    flex-direction: row!important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
    justify-content: space-around!important;
}
/****** TITLE ******/
.h5, h5 {
    font-size: 1.25rem;
}

/****** MARGIN / PADDING ******/
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.me-0, .mx-0 {
    margin-right: 0!important;
}
.me-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ms-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.me-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ms-auto,
.mx-auto {
  margin-left: auto !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.ms-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.ps-3, .px-3 {
    padding-left: 1rem!important;
}
.me-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
/****** GRID ******/
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-sm {
	flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/****** CARD ******/
.card {
	border-radius: 0.25rem;
	word-wrap: break-word;
    background-color: black;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}
.content .card .content-card {
    border-left: 1px solid #d7e13d;
    margin-left: -1px;
}
.content .card {
    border: #d7e13d solid 1px;
    color: #aa9a6f;
    font-family: "Comic Sans MS","Trebuchet MS",Times,"Times New Roman",serif;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

#carousel-world-news-index .card-header {
    color: #aaa;
	border-bottom: rgb(187, 196, 45) solid 1px;
	padding: 5px 10px 5px 10px;
}
/******** FORM ********/
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group > input {
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}
.form-inline label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.form-inline .custom-select, .form-inline .input-group {
    width: auto;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child), .input-group>.form-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-select, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-text {
	display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    color: #aa9a6f;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
/****** DATABLES ******/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
    border-collapse: collapse !important;
}
.dataTables_wrapper.container-fluid {
	padding-left: initial;
}
.dataTables_processing {
    box-shadow: 0 0 30px #d7e13d;
}
/******* WIDTH ********/
.w-25 {
  width: 25% !important;
}
.w-40 {
    width: 40%;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}
/******* BADGE ********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bg-danger {
  color: #fff;
  background-color: #dc3545;
}
.bg-info {
  color: #fff;
  background-color: #17a2b8;
}
.bg-secondary {
  color: #fff;
  background-color: #6c757d;
}
.bg-success {
  color: #fff;
  background-color: #28a745;
}
.bg-warning {
  color: #212529;
  background-color: #ffc107;
}
.bg-primary {
  color: #fff;
  background-color: #007bff;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.start-100 {
  left: 100% !important;
}
.top-0 {
  top: 0 !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.translate-middle {
  transform: translate(-50%, -50%) !important;
}
/********** CAROUSEL ***********/
.carousel {
  position: relative;
}
.content.carousel {
    padding: initial;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}
.carousel-indicators button {
  opacity: 0.5;
}
.carousel-indicators button.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-pagination .carousel-indicators-numbers li {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      border: none;
      color: #fff;
      transition: all 0.25s ease;
}
.carousel-pagination .carousel-indicators {
    bottom: -50px;
}
.carousel-pagination .carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
	margin: 0 2px;
	width: 30px;
	background: #d3dd3c;
	color: black;
	cursor: url(images_v2/greenPointer.cur), auto !important;
}
.carousel-pagination ol.carousel-indicators-numbers li {
    float: left;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d3dd3c;
    background: #2f2b2a;
    color: #d3dd3c;
    text-align: center;
    text-decoration: none;
}
.carousel-pagination {
	margin-bottom: 50px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity;
}
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}
.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}
/********** ALERT ***********/
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-info .alert-link {
  color: #062c33;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-success .alert-link {
  color: #0b2e13;
}
/********** LIST ***********/
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
/********** IMAGE ROTATE ***********/
#rotate_container span.degree:hover {
    background-color: #110054;
	color: #FFCC00;
}
/********** ACCORDION ***********/
.ui-accordion.ui-widget {
	font-size: initial;
}
/********** FORM ***********/
@media all and (max-width: 500px) {
  .form-table-collapse {
    display: block;
  }
  .form-table-collapse > .form-table-cell {
    width: 100% !important;
  }
}
.form-table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
	color: #aa9a6f;
}
.form-table-4cols .form-table-cell {
    width: 75%;
}
.form-table-cell-head {
    background-color: #000e00;
    border-color: #5a6673;
    width: 25% !important;
	font-family: "Comic Sans MS","Trebuchet MS",Times,"Times New Roman",serif;
}
.form-table-cell {
    border-color: #e2e6e9;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
	border: 1px solid  #d7e13d;
    margin-left: -1px;
    margin-bottom: -1px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
/********** BUTTON ***********/
.btn {
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}
.btn-warning {
  color: #212529 !important;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529 !important;
  background-color: #e0a800;
  border-color: #d39e00;
}
.btn.btn-primary {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    border: 1px solid transparent;
}
.btn-danger {
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-info {
	color: #fff !important;
	background-color: #17a2b8;
	border-color: #17a2b8;
	border: 1px solid transparent;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  text-decoration: none;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-success {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
/********** MODAL ***********/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  overflow-y: auto;
}
.modal-dialog {
	max-width: 500px;
	margin: 1.75rem auto;
	position: relative;
	pointer-events: none;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}
.black_modal .modal-content {
    background: black;
    border: 1px solid #d7e13d;
    box-shadow: 0 0 30px #d7e13d;
}
.black_modal .modal-body i {
    color: #d7e13d;
}
h4.modal-title {
	font-size: 1.5rem;
}
.fade {
  transition: opacity 0.15s linear;
}
/********** FULLCALENDAR ***********/
.fc h2 {
    background: initial;
    color: inherit;
    padding-top: 0px;
}
/********** FIELDSET ***********/
fieldset {
    border: #d7e13d 1px solid;
    border-radius: 5px;
}
fieldset legend {
	padding: 0 10px;
    border-bottom: none;
    width: inherit;
}
a.tags_display {
    background-color: #d3dd3c;
    color: black;
    border: solid 1px #d3dd3c;
    padding: 5px;
    border-radius: 15px;
    margin-right: 6px;
}
pre {
	overflow: auto;
}
/************ HISTORY *******/
.text-prewrap pre {
  white-space: pre-line !important;
}

.black_modal .modal-body .diff i {
	font-size: inherit;
    color: inherit;
}

figure {
    display: table;
	position: relative;
	margin: auto;
}
 
figure img { 
    display: block;
}

figure.image p {
	text-align: center;
    margin-bottom: 1px;
}
 
figcaption {
    display: table-caption;
    caption-side: bottom;
    padding:10px;
    background-color: rgba(1,1,1, 0.5);
	color: white;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
}

.border-0 {
  border: 0 !important;
}
.border {
    border: 1px solid #dee!important;
}
.text-primary {
  color: #007bff !important;
}

.text-info {
  color: #17a2b8 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.d-inline-block {
  display: inline-block !important;
}
button {
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}
#accordionBookEdition h4 {
    text-align: center;
    background-color: #bbc42d;
    text-align: left;
    border-radius: 0.25rem;
}
#accordionBookEdition.accordion {
	border-color: #bbc42d;
}
#accordionBookEdition .accordion-item {
	border-color: #bbc42d;
    border-bottom: 1px solid black;
}
#accordionBookEdition button.accordion-button, #accordionBookEdition .accordion-button:not(.collapsed) {
    background-color: #bbc42d;
	box-shadow: none;
	color: black;
	width: 100%;
    text-align: left;
}
#accordionBookEdition .accordion-collapse, .accordion-item {
	background-color: black;
}
#accordionBookEdition .accordion-button:after, .accordion-button.collapsed:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
	float: right;
}
#accordionBookEdition .accordion-button.collapsed:after {
    content: "\f054";
}
#accordionBookEdition button {
    background-color: transparent;
    border: 1px solid transparent;
	line-height: 2;
}

.tab-content > .tab-pane.active {
    display: block !important;
}
.tab-content > .tab-pane {
    display: none;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
	height: auto;
}
.card-columns .card h6 {
    font-size: 0.9rem;
}
.card-columns {
    column-count: 2;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.card-img-top {
    width: 100%;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
  }
}
.card-header {
    padding: 0.75rem 1.25rem;
}
.card-columns .card {
  margin-bottom: 0.75rem;
}

.text-white-50 {
  color: #6c757d !important;
}

.alert.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.search-result-box.card-box.mt-4 {
    margin-top: 1.5rem !important;
}
.number_theme {
    color: white;
    background: darkred;
    border-radius: 1rem;
    font-size: 11px;
    padding: 0.2em 0.4em;
}
ins.adsbygoogle p {
    display: none !important;
}
ins.adsbygoogle[data-ad-status="unfilled"] p {
    display: block !important;
}
ins.adsbygoogle[data-ad-status="unfilled"] {
    height: auto !important;
    width: auto !important;
}

.sf-minitoolbar {
	background-color: white !important;
}