{% if entities is not empty %}
<h3>{{ "store.index.Store"|trans([], "validators") }} <a href="{{ path('Store_Index') }}" class="float-end text-info">{{ "generality.read.SeeAll"|trans([], "validators") }} <i class="fa-solid fa-arrow-right"></i></a></h3>

<div id="store-container" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 slider-container">
	{% for entity in entities %}
    <div class="col">
        <div class="card h-100 d-flex flex-column">
            {% include 'store/Store/_store_media.html.twig' %}
            <div class="card-body d-flex flex-column flex-grow-1">
                <h4 class="card-title text-center">{{ entity.title }}</h4>
				{% include 'store/Store/_store_info.html.twig' %}
				
				<div class="mt-auto"><hr>
					<div class="d-flex gap-2">
					{% include 'store/Store/_store_button.html.twig' %}
					</div>
				</div>
            </div>
        </div>
    </div>
	{% endfor %}
</div>
{% endif %}