<img src="{{ asset('extended/photo/followus.jpg') }}" class="img-fluid" alt="Follow us!" loading="lazy">

<div class="text-center mt-2">
	{% if app.request.locale == "fr" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/activiteparanormale" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/ActiviteP" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> X.com</a>
		<a class="btn social-share mastodon mb-1" href="https://mastodon.social/web/@activiteparanormale" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
		<a class="btn social-share instagram mb-1" href="https://www.instagram.com/activiteparanormale" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
		<a class="btn social-share diaspora mb-1" href="https://diaspora-fr.org/people/2d914860b633013b61310025900e4586" target="_blank"><i class="fab fa-diaspora"></i> Diaspora</a>
		<a class="btn social-share bluesky mb-1" href="https://bsky.app/profile/paranormal-fr.bsky.social" target="_blank"><i class="fa-solid fa-spaghetti-monster-flying"></i> Bluesky</a>
		<a class="btn social-share tiktok mb-1" href="https://www.tiktok.com/@activiteparanormale" target="_blank"><i class="fa-brands fa-tiktok"></i> TikTok</a>
	{% elseif app.request.locale == "en" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/Paranormal-Activity-1223137671144385" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/paractivityAP" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> X.com</a>
		<a class="btn social-share mastodon mb-1" href="https://masto.nu/web/@paranormalactivity" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
		<a class="btn social-share diaspora mb-1" href="https://societas.online/people/248903b0bda3013b9e0152549f1e3c03" target="_blank"><i class="fab fa-diaspora"></i> Diaspora</a>
		<a class="btn social-share bluesky mb-1" href="https://bsky.app/profile/paranormal-en.bsky.social" target="_blank"><i class="fa-solid fa-spaghetti-monster-flying"></i> Bluesky</a>
	{% elseif app.request.locale == "es" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/Actividad-paranormal-2263453033942094" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/ActividadAP" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> X.com</a>
		<a class="btn social-share mastodon mb-1" href="https://masto.ai/web/@actividadparanormal" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
		<a class="btn social-share diaspora mb-1" href="https://diaspora.lapinbilly.eu/people/1b77c460e997013bb3624c72b9562ae0" target="_blank"><i class="fab fa-diaspora"></i> Diaspora</a>
		<a class="btn social-share bluesky mb-1" href="https://bsky.app/profile/paranormal-es.bsky.social" target="_blank"><i class="fa-solid fa-spaghetti-monster-flying"></i> Bluesky</a>
	{% endif %}
	<a class="btn social-share github mb-1" href="https://github.com/Wakonda/activite-paranormale" target="_blank"><i class="fab fa-github-square"></i> Github</a>
	<a class="btn social-share vk mb-1" href="https://vk.com/public218020298" target="_blank"><i class="fab fa-vk"></i> VKontakte</a>
</div>