<img src="{{ asset('extended/photo/followus.jpg') }}" class="img-fluid" alt="Follow us!">

<div class="text-center mt-2">
	{% if app.request.locale == "fr" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/activiteparanormale" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/ActiviteP" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
		<a class="btn social-share mastodon mb-1" href="https://mastodon.social/web/@activiteparanormale" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
		<a class="btn social-share instagram mb-1" href="https://www.instagram.com/activiteparanormale" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
	{% elseif app.request.locale == "en" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/Paranormal-Activity-1223137671144385" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/paractivityAP" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
		<a class="btn social-share mastodon mb-1" href="https://masto.nu/web/@paranormalactivity" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
	{% elseif app.request.locale == "es" %}
		<a class="btn social-share facebook mb-1" href="https://www.facebook.com/Actividad-paranormal-2263453033942094" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
		<a class="btn social-share twitter mb-1" href="https://twitter.com/ActividadAP" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
		<a class="btn social-share mastodon mb-1" href="https://masto.ai/web/@actividadparanormal" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
	{% endif %}
	<a class="btn social-share github mb-1" href="https://github.com/Wakonda/activite-paranormale" target="_blank"><i class="fab fa-github-square"></i> Github</a>
</div>