{% set width = "40" %}
<div class="float-start me-1" style="max-width: {{ width }}px">
	{% if entity is not empty %}
		<a href="{{ path('President_Archive_Read', { 'id' : entity.id }) }}">{{ entity.logo|imgsize(40, entity.getAssetImagePath()~'/', true, { 'title': entity.title })|raw }}</a>
	{% else %}
		<img src="{{ asset('extended/photo/devil.png') }}" width="40" alt="Devil">
	{% endif %}
</div>