{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}

{% block h2_title %}
		<h2><span class="float-left"><img src="{{ asset('extended/photo/faq.svg') }}" width="25" class="mt-1" alt="Page"/></span>{{ entity.titlePage }}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	{{ entity.text|raw }}
{% endblock %}