<div class="alert alert-warning" role="alert">
	<i class="fa-solid fa-skull-crossbones"></i> {{ ("page.participation.Charter"|trans([], 'validators'))|raw }}
	<hr><div class="text-center"><a href="{{ path('Page_Generic', {internationalName: 'publication-charter'}) }}" class="btn btn-warning text-dark" target="_blank">{{ "page.participation.ConsultCharter"|trans([], "validators") }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
</div>