{% extends "content_layout.html.twig" %}
{% block title %}{{ "user.password.ChangeYourPassword"|trans([], "validators") }}{% endblock %}

{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/change_password_icon.png') }}" width="25" height="25" /></span>{{ "user.password.ChangeYourPassword"|trans([], "validators") }}</h2>{% endblock %}
{% block APBlog_body %}
	{% block fos_user_content %}
	{% include "user/ChangePassword/changePassword_content.html.twig" %}
	{% endblock fos_user_content %}
	
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}