<div class="marquee-container d-flex">
	<div class="d-flex align-items-center" style="flex-grow: 1;">
		<ul id="marquee1" class="marquee w-100">
			{% for SN in sliderNews %}
				<li><i class="fas fa-calendar-alt"></i> {{ SN.publicationDate|short_date(app.request.locale) }} <i class="fas fa-chevron-right"></i> <a href="{{ path('News_ReadNews_New', {'id':SN.id, 'title_slug':SN.getUrlSlug() } ) }}" title="{{ SN.title }}">{{ SN.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="marquee-action">
		<button class="btn btn-light btn-sm previous-marquee" aria-label="Previous news"><i class="fas fa-chevron-left"></i></button>
		<button class="btn btn-light btn-sm pause-marquee" aria-label="Pause news"><i class="fas fa-pause"></i></button>
		<button class="btn btn-light btn-sm resume-marquee d-none" aria-label="Resume news"><i class="fas fa-play"></i></button>
		<button class="btn btn-light btn-sm next-marquee" aria-label="Next news"><i class="fas fa-chevron-right"></i></button>
	</div>
</div>