{% if entity.licence is not null %}
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelector("a#news_licence_link").addEventListener("click", (e) => {
				var licenceModal = new bootstrap.Modal(document.getElementById('showColorboxByLicenceModal'));
				licenceModal.show(document.getElementById('showColorboxByLicenceModal'));
				e.preventDefault();
			});
			
			document.querySelector("#showColorboxByLicenceModal").addEventListener('show.bs.modal', function (event) {
				var xmlhttp = xmlhttp = new XMLHttpRequest();

				xmlhttp.onreadystatechange = function() 
				{
					if (xmlhttp.readyState == XMLHttpRequest.DONE ) 
					{
						if(xmlhttp.status == 200) {
							document.querySelector("#showColorboxByLicenceModal .modal-body").innerHTML = xmlhttp.responseText;
						}
					}
				}

				xmlhttp.open("GET", "{{ path('Licence_ShowColorboxByLicence', { id: entity.licence.id}) }}", true);
				xmlhttp.send();
			});
		});
	</script>

	<div class="modal fade black_modal" id="showColorboxByLicenceModal" tabindex="-1" role="dialog" aria-labelledby="showColorboxByLicenceLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal-title w-100">{{ "licence.showColorboxByLicence.License"|trans([], "validators") }}</h4>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<i class="fas fa-spinner fa-pulse"></i>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
{% endif %}