<script>
	function randomCreepyStory(){let e=new XMLHttpRequest;document.querySelector("#randomIcon").classList.remove("fa-shuffle"),document.querySelector("#randomIcon").classList.add("fa-arrows-rotate","fa-spin"),e.onreadystatechange=function(){if(4==e.readyState&&200==e.status){var t=JSON.parse(e.response);0==t.length?document.getElementById("creepyStoryRandomContainer").style.display="none":(document.getElementById("titleRandom").innerHTML=t.title,document.getElementById("textRandom").innerHTML=t.text,document.getElementById("authorRandom").innerHTML=t.author,document.getElementById("writingDateRandom").innerHTML=t.date,document.getElementById("photoRandom").innerHTML=t.photo,document.getElementById("titleRandom").setAttribute("href",t.showRoute)),document.getElementById("randomIcon").remove();var n=document.createElement("i");n.classList.add("fa-solid","fa-shuffle"),n.id="randomIcon",document.getElementById("randomCreeyStory").appendChild(n)}},e.open("GET","/creepy_story/random",!0),e.send()}document.addEventListener("DOMContentLoaded",(e=>{document.querySelector("#randomCreeyStory").addEventListener("click",(e=>{e.preventDefault(),randomCreepyStory()})),randomCreepyStory()}));
</script>

<div id="creepyStoryRandomContainer" class="mt-3">
	<h3 class="clearfix">{{ "creepyStory.index.CreepyStory"|trans([], "validators") }} <a class="btn btn-info btn-sm float-end" id="randomCreeyStory"><i class="fa-solid fa-arrows-rotate fa-spin" id="randomIcon"></i></a></h3>

	<div class="card mb-3">
		<div class="row g-0">
			<div class="col-md-4 align-self-center" id="photoRandom">
			</div>
			<div class="col-md-8 content-card">
				<div class="card-body text-center">
					<h5 class="card-title"><a href="" id="titleRandom"></a></h5>
					<hr>
					<p class="card-text text-center" id="textRandom"></p>
					<hr>
					<span class="card-text text-center"><i class="fas fa-user"></i> <span id="authorRandom"></span></span>
					<div class="card-footer text-white-50"><small class="text-white-50"><i class="fas fa-calendar-alt"></i> <span id="writingDateRandom"></span></small></div>
				</div>
			</div>
		</div>
	</div>
</div>